<configuration>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/ktor-app/doodlekong_backend.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/ktor-app/doodlekong_backend.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %X{requestId} %logger - %replace(%msg){'\u001B\[[;\\d]*m', ''}%n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
            <immediateFlush>true</immediateFlush>
            <withJansi>true</withJansi>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>
</configuration>